@font-face{
    font-family: POEFont;
    src: url("./font/Fontin-Regular.otf");
}

@font-face{
    font-family: POESC;
    src: url("./font/Fontin-SmallCaps.otf");
}

body{
    font-family: POEFont;
}

#hideout{
    background: url("./img/hideout.jpg") center no-repeat;
    height: 240px;
    padding-top: 15px;
}

#hideout .container{
    background: rgba(255,255,255,0.8);
    padding: 10px 20px;
}

#ho{
    position: relative;
    bottom: 5px;
    left: 50%;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
    cursor: pointer;
}

#searchbar{
    /*background-image: linear-gradient(to top, rgba(222,222,222,0.8) 0%, rgba(222,222,222,0.8) 50%, rgba(222,222,222,0.0));*/
    background-image: radial-gradient(ellipse at bottom,rgba(255,255,255,0.8) 50%, transparent 60%);
}

#classfilter{
    flex-direction: row;
}

.filtericon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
    background: url("./img/icons.png") top left no-repeat;
    cursor: pointer;
}

.c1hr{background-position-x: -24px;}
.c2hm{background-position-x: -48px;}
.c2hr{background-position-x: -72px;}
.cshield{background-position-x: -96px;}
.chelm{background-position-x: -120px;}
.cbody{background-position-x: -144px;}
.cgloves{background-position-x: -168px;}
.cboot{background-position-x: -192px;}
.cring{background-position-x: -216px;}
.camulet{background-position-x: -240px;}
.cbelt{background-position-x: -264px;}
.cflask{background-position-x: -288px;}
.cquiver{background-position-x: -312px;}

.applies .filtericon{
    cursor: auto;
}
.separator{
    text-align: center;
    font-size: 16pt;
    margin-top: 15px;
}

.rank{
    float: right;
    background: url("./img/rank.png") no-repeat;
    background-size: contain;
    display: block;
    width: 16px;
    height: 24px;
    text-align: center;
    color: #fff;
}

.price {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background-size: 24px 24px !important;
}

.alch{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyUpgradeToRare.png?scale=1");}
.chaos{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1");}
.alt{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollMagic.png?scale=1");}
.transmut{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyUpgradeToMagic.png?scale=1");}
.aug{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyAddModToMagic.png?scale=1");}
.exa{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyAddModToRare.png?scale=1");}
.div{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyModValues.png?scale=1");}
.glass{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyFlaskQuality.png?scale=1");}
.gcp{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyGemQuality.png?scale=1");}
.chance{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyUpgradeRandomly.png?scale=1");}
.regal{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyUpgradeMagicToRare.png?scale=1");}
.vaal{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyVaal.png?scale=1");}
.blessed{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyImplicitMod.png?scale=1");}
.fusing{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollSocketLinks.png?scale=1");}
.jeweller{background-image: url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollSocketNumbers.png?scale=1");}
.chrome{background-image:url("https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollSocketColours.png?scale=1");}

nav {
    z-index: 1 !important;
}